# Virtualenv
.venv/
__pycache__/
*.pyc

# Packaging metadata
*.egg-info/

# Raw & processed data
data/raw/
data/bronze/
data/silver/
data/gold/
data/warehouse.sqlite

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
